/* Help css style */

.menu {
	float: center;
	position: relative;
	padding-top: 5%;
}

.button {
	padding: 1em;
	text-decoration: none;
	font-size: 1.6em;
	display: block;
	background-color: rgb(183, 20, 42);
	color: rgb(241,241,241);
	border-radius: .6em;
    font-family: serif;
	border: 2px solid rgb(17,17,17);
}

.button:hover {
	color: rgb(229, 197, 102);
	cursor: pointer;
	border: 2px solid rgb(229, 197, 102);
	background-color: rgb(183, 20, 42);
	transition: 0.6s ease;
	transform: scale(1.05);
}

.button:focus {
	color: rgb(229, 197, 102);
	background-color: rgb(183, 20, 42);
	border: 2px solid rgb(229, 197, 102);
	transition: 0.6s ease;
	transform: scale(1.05);
}

.alert {
	padding: 1.4em;
	background-color: rgb(183, 20, 42);
	color: white;
	width: 25%;
	margin-top: 1%;
}

.closebtn {
	margin-left: 15px;
	color: rgb(241, 241, 241);
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
	color: rgb(229, 197, 102);
	transition: 0.3s ease;
	transform: scale(1.02);
}
